.sidebarChannel__users {
  display: flex;
  flex-flow: column;
  width: 100%;
}
.sidebarChannel__user {
  display: flex;
  align-items: center;
  width: 100%;
  color: white;
  padding-left: 45px;
  margin: 5px 0px;
}
.sidebarChannel__username {
  margin-left: 5px;
}
